@model Web.Models.ViewModels.CreateCategoryOfSkill

<h2>Добавление категории</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <p>Название: @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control"} })</p>
        <p>Описание: @Html.TextAreaFor(model => model.Description, 5, 1, htmlAttributes: new { @class = "form-control"})</p>
        <button class="btn btn-success" value="Добавить">
            <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
            Добавить
        </button>
    </div>
}