@model Web.Models.RoleModels.CreateRoleModel
 
<h2>Добавление роли</h2>
 
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
     
<div>
    @Html.ValidationSummary(true, "")
    <p>Название: @Html.EditorFor(model => model.Name)</p>
    <p>Описание: @Html.EditorFor(model => model.Description)</p>
    <button class="btn btn-success" value="Добавить">
        <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
        Добавить
    </button>
</div>
}