@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <abbr>Phone: +375291638636</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">danilovichser@gmail.com</a><br />
</address>